{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}Sign up - AnimEpic{% endblock %}

{% block content %}
<h4>Join the AnimEpic squad and add your favourite characters into our community!</h4>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% buttons submit='Log in' %}{% endbuttons %}
</form>

<div class="row-md-4">
  <p class="lead">
    Don't have account? <a href="{% url 'main:Registrate' %}" class="text-info"> Sign up</a>
  </p>
</div>
{% endblock %}